#grid-box {
  margin-top: 48px;
  margin-inline: auto;
  padding: 1px;
  display: grid;
  grid-gap: 1px;
  border-width: 1px;
  width: max-content;
  background-color: grey;
}

#header-box {
  margin: auto;
  display: flex;
  justify-content: center;
}

reset-button {
  margin: auto;
}

.grid-box {
  border-width: 1px;
  background: white;
}
